body {
  background-color: #ffffff;
}
html {
  scroll-behavior: smooth;
}
.nav {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 100;
  div {
    width: 100%;
    img {
      width: 10rem;
    }
  }
}
.slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  // background: url('../../images/mazi\ back.jpg');
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center;

  .slide-col {
    height: 100%;
    width: 50%;
  }
  .slide-col-text {
    display: flex;
    align-items: center;
    justify-content: center;
    .text-ctn {
      background: pink;
      width: 85%;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .slide-col-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    img {
      height: 90%;
    }
  }
}

.section {
  margin-top: 5rem;
  text-align: center;
  .section-header {
    h4 {
      font-weight: bold;
    }
  }

  .more {
    cursor: pointer;
    border: 1px solid #ac998a;
    // color: black;
    padding: 7px 14px;
    border-radius: 5px;
    &:hover {
      background: #ac998a;
      transition: all 0.3s ease-in-out;
      color: white;
    }
  }
}

.card-ctn {
  height: 23rem;

  .card {
    height: 23rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.06);
  }

  .img-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    width: 100%;
    cursor: pointer;

    img {
      height: 100%;
      width: auto;
      border: 0;
    }
  }

  .details-ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 35%;
    .details {
      text-align: left;
    }
    .name {
      margin-top: -5px;
    }
    .category {
      opacity: 0.7;
    }

    .price {
      display: flex;
      align-items: center;
      font-size: 14.5px;
      margin-top: 6px;

      .old-price {
        text-decoration: line-through;
        opacity: 0.65;
      }
    }

    button {
      display: block;
      width: 100%;
      border: none;
      outline: none;
      background: #ac998a;
      color: #ffffff;
      font-size: 14px;
      padding: 5px 0;
      border-radius: 3px;

      &:hover {
        opacity: 0.8;
        transition: all 0.2s ease;
      }
    }
  }
}

.video-section {
  height: 100vh;
  // background: #d3c1b0;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.service-section {
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  background: rgba(225, 225, 225, 0.4);
}

.back-drop {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  overflow-y: hidden;
  cursor: pointer;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 28rem;
  height: 100%;
  background: #ffffff;
  z-index: 1200;

  .close-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .products {
    width: 100%;
    height: 75%;
    margin: 15px 0;
    overflow-y: scroll;

    .add-remove__btns-ctn {
      button {
        background: transparent;
        margin: 0 5px;
        font-size: 20px;
        padding: 0px 7px;
        border: 1px solid rgba(0, 0, 0, 0.09);
        // padding: 0;
        &:hover {
          opacity: 0.7;
          transition: all 0.2s ease-in-out;
        }
      }
    }

    .product {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .product__details-ctn {
        display: flex;
        align-items: center;
        margin: 10px 0;
        width: 65%;

        .product__img-ctn {
          background: rgba(0, 0, 0, 0.09);
          width: 100px;
          height: 100px;
        }

        .product__details {
          display: flex;
          flex-direction: column;
          text-align: left;
          margin-left: 10px;
          h6 {
            margin: 0;
          }
        }
      }
    }
  }

  .summary {
    width: 100%;
    height: 15%;
    margin-top: 15px;
    .total {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    button {
      background: #ac998a;
      color: #ffffff;
      border-radius: 0;
      margin-top: 5px;
    }
  }
}
.x {
  cursor: pointer;
}
